{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.tsx, *.ts",
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": true
      }
    }
  ]
}
